/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
}

/* Navbar Styles */
.navbar {
  background-color: #0d6efd;
}

.navbar-brand {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}
/* src/App.css or AppointmentForm.css */

.container {
  background-color: #f8f9fa;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.form-control {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.form-group label {
  font-weight: 500;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.form-msg {
  font-size: 1rem;
  font-weight: bold;
  color: green; /* Change color for success */
}

/* Error message */
.form-msg.error {
  color: red;
}
